{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}Issue Tracker{% endblock %}</title>
</head>
<body>
<nav class="navbar">
    <div class="container">
        <ul class="list-group-flush">
            <li class="list-group-item">
                <a href="{% url 'index' %}"
                   class="list-group-item list-group-item-secondary mx-1">Главная</a>
                <a href="{% url 'task_add' %}"
                   class="list-group-item list-group-item-secondary mx-1">Создать</a>
                {% block menu %}{% endblock %}
        </ul>
    </div>
</nav>
<div class="container">
    {% block content %}{% endblock %}
</div>
</body>
</html>