{% extends 'base.html' %}
{% block title %}Просмотр проекта{% endblock %}
{% block menu %}
    <a href="{% url 'project_delete' project.pk %}"
       class="list-group-item list-group-item-secondary mx-1">Удалить проект</a>
{% endblock %}
{% block content %}
    <div class="row mt-5 d-flex justify-content-center">
        <h2>Детали проекта</h2>
    </div>
    <div class="container bg-light row mt-5 card pt-3 mx-2">
        <p>Заголовок: {{ project.name }}</p>
        <p>Подробное описание: {{ project.description }}</p>
        <p>Дата начала: {{ project.start_date }}</p>
    </div>
    <a href="{% url 'task_create_from_project' project_id=project.pk %}" class="btn btn-primary">Добавить задачу</a>
    <div class="row mt-5 d-flex justify-content-center">
        <h2>Список задач</h2>
    </div>
    <div class="container bg-light row mt-5 card pt-3 mx-2">
        {% for task in project.tasks.all %}
            <div class="card mb-2">
                <div class="card-body">
                    <h5 class="card-title">{{ task.summary }}</h5>
                    <p class="card-text">{{ task.description }}</p>
                    <a href="{% url 'task_detail' task.pk %}" class="btn btn-primary">Просмотреть</a>
                    <a href="{% url 'task_update' task.pk %}" class="btn btn-secondary">Редактировать</a>
                    <a href="{% url 'task_delete' task.pk %}" class="btn btn-danger">Удалить</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}